#wpadminbar .quicklinks #wp-admin-bar-plugin-toggle .ab-item .ab-icon:before {
	content: "\f106";
	top: 2px;
}

#wpadminbar .quicklinks #wp-admin-bar-plugin-toggle .ab-sub-wrapper {
	overflow-y: auto;
}

#wpadminbar .quicklinks #wp-admin-bar-plugin-toggle .ab-submenu li .ab-item {
	opacity: 0.6;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
}

#wpadminbar .quicklinks #wp-admin-bar-plugin-toggle .ab-submenu li .ab-item:hover,
#wpadminbar .quicklinks #wp-admin-bar-plugin-toggle .ab-submenu li.is-active .ab-item {
	opacity: 1;
}

#wpadminbar .quicklinks #wp-admin-bar-plugin-toggle .ab-submenu li.is-active .ab-item {
	font-weight: bold;
}

#wpadminbar .quicklinks #wp-admin-bar-plugin-toggle.has-many {
	position: static;
}

#wpadminbar .quicklinks #wp-admin-bar-plugin-toggle.has-many .ab-sub-wrapper {
	position: absolute;
	right: 0;
	left: 0;
}

#wpadminbar .quicklinks #wp-admin-bar-plugin-toggle.has-many .ab-submenu {
	-moz-columns: 3;
	-webkit-columns: 3;
	columns: 3;
}

#wpadminbar .quicklinks #wp-admin-bar-plugin-toggle.has-many .ab-submenu li {
	position: relative;
	white-space: normal;
}

@media only screen and (min-width: 1024px) {
	#wpadminbar .quicklinks #wp-admin-bar-plugin-toggle.has-many .ab-submenu {
		-moz-columns: 4;
		-webkit-columns: 4;
		columns: 4;
	}
}

@media only screen and (min-width: 1280px) {
	#wpadminbar .quicklinks #wp-admin-bar-plugin-toggle.has-many .ab-submenu {
		-moz-columns: 5;
		-webkit-columns: 5;
		columns: 5;
	}
}
